.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $p-2 0;
  flex-direction: row;

  @include extraLargeTablet{
    flex-direction: column;
    gap: 1rem;
  }

  .heading__title {
    font-size: $fs-large;
    font-style: italic;
    font-weight: $fw-bold;
    background: linear-gradient(
      90deg,
      #0084ff 10.14%,
      #004f9e 49.71%,
      #000616 84.62%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .heading__form {
    display: flex;
    align-items: stretch;
    position: relative;
    .heading__form__colorPicker{
      position: absolute;
      left:0;
      top: 100%;
      width: 100%;
      z-index: 1;
    }

    .heading__form__input {
      border-radius: $rounded_md 0 0 $rounded_md;
      padding: $p-2;
      border: $border-1;
      width: 350px;
      text-transform: uppercase;
      @include largeMobile{
        width: auto;
      }
      &:focus {
        border: $border-primary;
      }
      
    }
    
    .heading__form__submit {
      border: $border-1;
      border-radius: 0 $rounded_md $rounded_md 0;
      padding: 0 $p-3;
      background-color: $primary;
      color: white;
      opacity: 0.8;
      &:hover {
        opacity:1;
        transition: all 0.3s ease;
      }
    }
  }
}
